<div>
  <h1>WorkLogs</h1>
  <%= link_to "New Log", new_work_log_path %>
  <ul>
    <% @work_logs.each do |work_log| %>
      <li>
        <p>
          <a href="/work_logs/<%= work_log.id %>">
            <strong><%= work_log.title %></strong>
          </a>
          <br>
          <%= work_log.body %>
          <br>
          <time style="font-size: .8rem"><%= work_log.created_at %></time>
        </p>
      </li>
    <% end %>
  </ul>
</div>
