<%= link_to "Home", root_path %>
<%= link_to "Back", :back %>
<h1><%= @work_log.title %></h1>
<time>c: <%= @work_log.created_at %></time>
<p><%= @work_log.body %></p>
<%= link_to "Edit", edit_work_log_path(@work_log) %>